[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/reorr/Desktop/Horimiya v01-09 [Uasaha] (Yen Press).torrent]
row=0
col=4

[/home/reorr/Desktop/Bloody Brat [Uasaha] (Yen Press).torrent]
row=5
col=2

[/home/reorr/Desktop/Handa-kun (Digital) (Yen Press) [Uasaha].torrent]
row=5
col=3

[/home/reorr/Desktop/Secret (Digital) (Uasaha).torrent]
row=4
col=1

[/home/reorr/Desktop/Servamp v1-10 [Uasaha] (Seven Seas).torrent]
row=5
col=6

[/home/reorr/Desktop/5426f62cde9534fd26603eb0580489b5.png]
row=0
col=3

[/home/reorr/Desktop/sampul.svg]
row=3
col=5

[/home/reorr/Desktop/Mahou Tsukai no Deshi ga Warau Toki [Uasaha] (Yen Press).torrent]
row=7
col=5

[/home/reorr/Desktop/Yumekui Kenbun (Digital) (Uasaha).torrent]
row=3
col=3

[/home/reorr/Desktop/[meep] The Seven Deadly Sins]
row=5
col=5

[/home/reorr/Desktop/gunungan_wayang_by_hengkeypad-dbowr2f.png]
row=3
col=2

[/home/reorr/Desktop/Doubt (Digital) (Uasaha).torrent]
row=2
col=1

[/home/reorr/Desktop/Omamori Himari (Digital) (Cyma).torrent]
row=7
col=3

[/home/reorr/Desktop/D-Frag! v01-11 (Digital) (Uasaha).torrent]
row=3
col=6

[/home/reorr/Desktop/Our Precious Conversations - c004 (v01) - p088 [Digital-HD] [danke-Empire].jpg]
row=6
col=0

[/home/reorr/Desktop/Fatekaleid liner PRISMA☆ILLYA Complete Manga.rar]
row=3
col=4

[/home/reorr/Desktop/puntadewa.jpg]
row=1
col=3

[/home/reorr/Desktop/Koukoku no Hiiro [Uasaha] (Yen Press).torrent]
row=0
col=2

[/home/reorr/Desktop/net_speed.sh]
row=1
col=1

[/home/reorr/Desktop/Oninagi (Digital) (Uasaha).torrent]
row=1
col=5

[/home/reorr/Desktop/cover.pdf]
row=0
col=5

[/home/reorr/Desktop/Pandora Hearts (Digital) (Uasaha).torrent]
row=6
col=6

[/home/reorr/Desktop/Yagyuu Renya Bugeichou [Uasaha] (Leed).torrent]
row=6
col=3

[/home/reorr/Desktop/Our Precious Conversations - c015 (web) - p028 [Digital-HD] [danke-Empire].jpg]
row=4
col=3

[/home/reorr/Desktop/Servamp v01-10 [Uasaha] (Seven Seas).torrent]
row=6
col=2

[/home/reorr/Desktop/Museum [Uasaha] (Kodansha).torrent]
row=0
col=6

[/home/reorr/Desktop/Jigokuren - Love in the Hell [Uasaha] (Seven Seas).torrent]
row=5
col=1

[/home/reorr/Desktop/ Orenchi no Furo Jijou v01-06 (Digital) (Seven Seas) [Uasaha].torrent]
row=2
col=2

[/home/reorr/Desktop/Trinity Seven v01-12 [Uasaha] (Yen Press).torrent]
row=2
col=6

[/home/reorr/Desktop/The Other Side of Secret [Uasaha] (Seven Seas).torrent]
row=4
col=2

[/home/reorr/Desktop/puntadewa2.png]
row=1
col=4

[/home/reorr/Desktop/Batik-Kawung-Seamless-Pattern.png]
row=2
col=3

[/home/reorr/Desktop/533816f3c201b75e22a50ce57aa501f5.png]
row=1
col=2

[/home/reorr/Desktop/cover.svg]
row=7
col=0

[/home/reorr/Desktop/Tohyo Game [Uasaha] (Yen Press).torrent]
row=0
col=1

[/home/reorr/Desktop/The Seven Deadly Sins v02 - Seven-Colored Recollections [Vertical] [LuCaZ].epub]
row=7
col=4

[/home/reorr/Desktop/Judge (Digital) (Uasaha).torrent]
row=2
col=4

[/home/reorr/Desktop/Servant x Service (Digital) (Uasaha).torrent]
row=4
col=6

[/home/reorr/Desktop/Prisma Illya Alarm.apk]
row=5
col=4

[/home/reorr/Desktop/Trinity Seven v01-07 [Uasaha] (Yen Press).torrent]
row=1
col=6

[/home/reorr/Desktop/Secret no Mukougawa [Uasaha] (Seven Seas).torrent]
row=6
col=5

[/home/reorr/Desktop/Mahou Tsukai no Deshi no Naku Koro ni [Uasaha] (Yen Press).torrent]
row=6
col=4

[/home/reorr/Desktop/Videos]
row=6
col=1

[/home/reorr/Desktop/traffic.sh]
row=3
col=1

[/home/reorr/Desktop/0302_02.jpg]
row=2
col=5

[/home/reorr/Desktop/ROM]
row=5
col=0

[/home/reorr/Desktop/Sasameke [Uasaha] (Yen Press).torrent]
row=7
col=1

[/home/reorr/Desktop/updater-script]
row=4
col=5

[/home/reorr/Desktop/Jigokuren - Death Life [Uasaha] (Seven Seas).torrent]
row=4
col=4

[/home/reorr/Desktop/Our Precious Conversations - c012 (web) - p018 [Digital-HD] [danke-Empire].jpg]
row=7
col=2

[16E860BBE8609AAF]
row=0
col=0

[7fbd0c8f-2fd9-3529-a529-186bf8a45d07]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/reorr]
row=4
col=0

