[Desktop Entry]
Version=1.0
Type=Application
Name=Muktazam Hasbi
Comment=
Exec=clirin
Icon=/home/reorr/.face
Path=
Terminal=false
StartupNotify=false
