/* Manta Theme */
:root {
    /* .Xresources colors */
    --color0:      #fdf8fc;
    --color1:      #948090;
    --color2:      #CF074C;
    --color3:      #E1245F;
    --color4:      #A74755;
    --color5:      #E94F6E;
    --color6:      #EC468E;
    --color7:      #211D33;
    --color8:      #948090;
    --color9:      #948090;
    --color10:     #CF074C;
    --color11:     #E1245F;
    --color12:     #A74755;
    --color13:     #E94F6E;
    --color14:     #EC468E;
    --color15:     #211D33;

    --color16:	   #fdf8fc;

    --main: var(--color0); /*selected tab and rest of navbar*/
    --secondary: var(--color16); /* top background and all non-selected tabs*/
    /*--secondary: hsla(0, 0%, 0%, 0%);*/
    --selected-fg: var(--color7);
    --unselected-fg: var(--color7);
    --search: var(--color4);
    --tab-loading-dots: var(--color7);
    --findbar-bg: var(--color0);
    --findbar-fg: var(--color7);
    --urlbar-bg: var(--main);
    --urlbar-fg: var(--color7);
    --menu-bg: var(--color0);
    --menu-fg: var(--color7);
    --favicon-backdrop: var(--color4);
    /*TODO: Download button needs work*/
    --download-button-default: var(--color0);
    --download-button-progress: var(--color3);
    --download-button-finished: var(--color4);
    --hover: hsla(0, 0%, 80%, 0.2);
}
