#XfceNotifyWindow {
    background-color: #282528;
    border-radius: 0px;
    border: 1px solid #282528;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12;
    color: #c0c0bd;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color : #B66846;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color : #8F6D54;
}

#XfceNotifyWindow progressbar {
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    min-height: 7px;
    background-image: none;
    background-color: shade(#c0c0bd, 1.2);
}

#XfceNotifyWindow progressbar trough {
    min-height: 7px;
    background-image: none;
    background-color: #B66846;
    border: 0px solid shade(#B66846, 0.6);
    /*border-radius: 0px;*/
}
